.recipe > h2 {
  text-size-adjust: 200%;
  font-size: 200%;
}

.recipe > img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.recipe > a:link {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

.recipe > a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.recipe > a:hover {
  color: lightgray;
  background-color: transparent;
  text-decoration: underline;
}

.recipe > a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
